@import "tailwindcss";

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background: radial-gradient(circle at top, #0F172A 0%, #020617 100%);
    background-attachment: fixed;
    color: var(--color-slate-200);
    overflow-x: hidden;
}