@import "tailwindcss";

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: radial-gradient(circle at top, #0f172a 0%, #020617 100%);
    color: var(--color-slate-200);
    overflow-x: hidden;
}
